{% load staticfiles %}
{% load static from staticfiles %}
{% load static %}


<html>
  <head>

    <title>Logged in</title>

  </head>
  <body>
    <section class="login-content">

        <div class="login-box">
          <form class="login-form" action="" method="post">
              {% csrf_token %}
              <li>{{info}} is successfully logged in </li>
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Logged in User</h3>

            <div class="form-group">
              <button type="button" onclick="logout()" class="btn secondary-btn"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN OUT</button>
            </div>
          </form>

        </div>

  >
    </section>
  </body>
  <!-- Jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static '/modelless_app/js/get_json.js' %}"></script>

</html>